<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add withdraw Subjects</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
        
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
    <link href="../static/css/withdraw.min.css" rel="stylesheet">

    <link href="../static/css/withdraw-icons.css" rel="stylesheet">

    <link href="../static/css/withdraw-topic-listing.css" rel="stylesheet">


    <nav>
        <div class="logo"><img src="../static/images/icon/logo_kmutt.png" alt="logo" style="width: 66px; height: 75;"></div>
        <ul>
            <li><a class="active" href="../index.html">Home</a></li>				
            <li><a class="study-sh" href="#">About &dtrif;</a>
                <ul>
                    <li><a href="/templates/staff.html">Staff</a></li>
                    <li><a href="/templates/add_re.html">Document</a></li>
                    
                    <li><a href="/templates/internship.html">Internship</a></li>
                  </ul>
            </li>
            <li><a class="study-sh" href="#">Courses &dtrif;</a>
                <ul>
                    <li><a href="../templates/gen.html">GEN</a></li>
                    <li><a href="../templates/lng.html">LNG</a></li>
                    
                    <li><a href="../templates/ene.html">ENE</a></li>
                  </ul>
            </li>
            
            <li><a href="../activity/choose_mode_activity.html">Activity</a></li>
            <li><a href="../petition/petition.html">Petition Form</a></li>
            <li><a href="../activity/choose_mode_link.html">Link</a></li>
        </ul>
        <a class="get-started" href="index_login.html">Log Out</a>
        <img src="../static/images/icon/menu.png" class="menu" onclick="sideMenu(0)" alt="menu">
    </nav>



</head>
<body>
    
    <section class="timeline-section section-padding" id="section_3">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h2 class="text-white mb-4" style="margin-top: 300px;">ขั้นตอนการถอนรายวิชา</h1>
                </div>

                <div class="col-lg-10 col-12 mx-auto">
                    <div class="timeline-container">
                        <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                            <div class="list-progress">
                                <div class="inner"></div>
                            </div>

                            <li>
                                <h4 class="text-white mb-3">Step1 Login</h4>

                                <p class="text-white">ทำการล็อคอินเข้าระบบ sinfo.kmutt.ac.th</p>
                                <img src="../static/images/courses/sinfo.png" alt="" style="width: 700px; height: 300px; border-radius: 20px;" >
                                <div class="icon-holder">
                                  <i class="bi-search"></i>
                                </div>
                            </li>
                            
                            <li>
                                <h4 class="text-white mb-3">ยื่นคำร้อง</h4>

                                <p class="text-white">เลือกเมนู คำร้องผ่านเว็บ > ยื่นคำร้องเกี่ยวกับการลงทะเบียน > ยื่นคำร้องถอนรายวิชา</p>
                                <img src="../static/images/courses/withdraw.png" alt="" style="width: 700px; height: 300px; border-radius: 20px;" >
                                <div class="icon-holder">
                                  <i class="bi-bookmark"></i>
                                </div>
                            </li>

                            <li>
                                <h4 class="text-white mb-3">ติดตามคำร้อง</h4>

                                <p class="text-white">สามารถดูผลพิจารณาหรือติดตามคำร้อง ได้ที่เมนู คำร้องผ่านเว็บ > ติดตามคำร้อง</p>
                                <img src="../static/images/courses/follow.png" alt="" style="width: 700px; height: 300px; border-radius: 20px;" >
                                <div class="icon-holder">
                                  <i class="bi-book"></i>
                                </div>
                            </li>
                            <li>
                                <h4 class="text-white mb-3">ตรวจสอบการถอนรายวิชา</h4>

                                <p class="text-white">สามารถตรวจสอบการถอนรายวิชา โดยเลือกเมนู ลงทะเบียนเรียน > สอบถาม/พิมพ์ใบรายวิชาที่ลงทะเบียน</p>
                                <img src="../static/images/courses/withdraw2.png" alt="" style="width: 700px; height: 300px; border-radius: 20px;" >
                                <br>
                                <br>
                                <br>
                                <p class="text-white">เมื่อการถอนรายวิชาสมบูรณ์ จะขึ้นตัวอักษร W</p>
                                <div class="icon-holder">
                                  <i class="bi-book"></i>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>

                <br><br><br>
            </div>
        </div>
    </section>

    <!-- <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/click-scroll.js"></script>
    <script src="js/custom.js"></script> -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.sticky.js"></script>
    <script src="../static/js/click-scroll.js"></script>
    <script src="../static/js/custom.js"></script>

</body>
</html>