<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="png" href="../static/images/icon/logo_kmutt.png">
	<title>Computer Science Courses on LearnEd</title>
	<link rel="stylesheet" type="text/css" href="subjects.css">
	<script type="text/javascript" src="../static/js/script.js"></script>
</head>
<body>
	
<!-- NAVIGATION -->
	<header>
		<div class="nav" id="nav">
			<div id="learned-logo">
			<a href="../index.html"><img src="../static/images/icon/logo_kmutt.png" style="width: 66px; height: 75;"></a></div>
			<div class="switch-tab" id="switch-tab" onclick="switchTAB()"><img src="../static/images/icon/menu.png"></div>
			<ul id="list-switch">
				<li><a class="active" href="../index.html">Home</a></li>
				<li><a href="gen.html"><img src="../static/images/courses/d1.png" class="icon">GEN</a></li>
				<li><a href="lng.html"><img src="../static/images/courses/paper.png" class="icon">LNG</a></li>
				<li><a href="#"><img src="../static/images/courses/computer.png" class="icon">ENE</a></li>
				
			</ul>
			<div class="search" id="search-switch">
				<input type="search" placeholder="Search" class="srch"><button id="srchbtn"><img src="../static/images/icon/search.png"></button>
			</div>
		</div>
	</header>
	

<!-- MAIN Heading of Page -->
	<div class="title">
		<span>Electronic and<br>Telecommunication (ENE)</span>
		<div class="shortdesc">
			<p>ENE course involves the design, development, installation, and maintenance of electronic systems</p>
		</div>
	</div>


<!-- Some KeyWords related to Topic -->
	<div class="course">
		<div class="cbox">
		<div class="det"><a href="https://sites.google.com/view/eneeie324/schedule?fbclid=IwAR31xOOlqAMG4VWy8vr9_bLsvPHxS3Tmevqg5gl8ABSwjKD8kK4Lzc7wQQg" target="_blank">ENE324</a></div>
		<div class="det"><a href="https://docs.google.com/document/d/1elvNQn0-NjTO6Uc48mezj4hkl6S51zGVMwi-jlMU_W4/edit" target="_blank">ENE335</a></div>
		
		</div>
		
	</div>


<!-- Courses Available -->
	<div class="inbt">
		All courses
	</div>

	<div class="ccard">
	<center>
		<div class="ccardbox">
			<div class="dcard">
				<div class="fpart"><img src="../static/images/courses/ene_1.png"></div>
				<a href="#java"><div class="spart">4 Courses <img src="../static/images/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="../static/images/courses/ene_2.png"></div>
				<a href="#python"><div class="spart">4 Courses <img src="../static/images/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="../static/images/courses/ene_3.png"></div>
				<a href="#c++"><div class="spart">5 Courses <img src="../static/images/icon/dropdown.png"></div></a>
			</div>
		</div>
		<div class="ccardbox">
			<div class="dcard">
				<div class="fpart"><img src="../static/images/courses/ene_4.png"></div>
				<a href="#html_css"><div class="spart">3 Courses <img src="../static/images/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="../static/images/courses/ene_5.png"></div>
				<a href="#data"><div class="spart">2 Courses <img src="../static/images/icon/dropdown.png"></div></a>
			</div>
			
		</div>
	</center>
	</div>


<!-- Videos on JAVA Lectures -->
	<div class="title2" id="java">
		<span>วิชาพื้นฐานวิศวกรรมไฟฟ้าสื่อสารและอิเล็กทรอนิกส์</span>
		<div class="shortdesc2">
			<p>วิชาพื้นฐานวิศวกรรมไฟฟ้าสื่อสารและอิเล็กทรอนิกส์เป็นพื้นฐานสำคัญในการศึกษาวิศวกรรมไฟฟ้าและสาขาที่เกี่ยวข้อง เช่น วิศวกรรมโทรคมนาคม วิศวกรรมอิเล็กทรอนิกส์</p>
		</div>
	</div>
	
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="ENE/ene104.html" target="_blank">
					<img src="../static/images/courses/ene104.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene105.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene207.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene301.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			
			
		</div>
	</center>
<hr>

<!-- Videos on C++ Lectures -->

	<div class="title2" id="c++">
		<span>วิชาอิเล็กทรอนิกส์</span>
		<div class="shortdesc2">
			<p>การศึกษาเกี่ยวกับองค์ประกอบอิเล็กทรอนิกส์ วงจรอิเล็กทรอนิกส์ และการทำงานของอุปกรณ์อิเล็กทรอนิกส์</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene205.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene210.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene211.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene312.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
		</div>
	</center>
<hr>

<!-- Videos on PYTHON Lectures -->

	<div class="title2" id="python">
		<span>วิชาสื่อสารและโทรคมนาคม</span>
		<div class="shortdesc2">
			<p>การศึกษาเกี่ยวกับระบบการสื่อสารและโทรคมนาคมที่ใช้ในการสื่อสารข้อมูลระยะไกล</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene221.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene325.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene422.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene450.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene467.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
		</div>
	</center>

<hr>

	<div class="title2" id="data">
		<span>วิชาดิจิทัลและไมโครโพรเซสเซอร์</span>
		<div class="shortdesc2">
			<p>การศึกษาเกี่ยวกับดิจิทัลอะไรซ์และไมโครโพรเซสเซอร์</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene231.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene334.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene335.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
		</div>
	</center>
<hr>
<!-- Videos on ALGORITHM Lectures -->

	<div class="title2" id="algo">
		<span>วิชาระบบควบคุมและเครื่องมือวัด</span>
		<div class="shortdesc2">
			<p>การศึกษาเกี่ยวกับระบบควบคุมและเครื่องมือวัดที่ใช้ในการควบคุมและวัดผลต่าง ๆ</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene240.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/ene341.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
		</div>
	</center>
<hr>

<!-- Videos on HTML and CSS Lectures -->

	

<br><br><br><br><br>
<br><br><br><br><br>
<!-- FOOTER -->


</body>
</html>