<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="png" href="../static/images/icon/logo_kmutt.png">
	<title>วิชาด้านการศึกษาทั่วไป ( GEN ) </title>
	<link rel="stylesheet" type="text/css" href="subjects.css">
	<script type="text/javascript" src="../static/js/script.js"></script>
</head>
<body>

	<!-- NAVIGATION -->
	<header>
		<div class="nav" id="nav">
			<div id="learned-logo">
			<a href="../index.html"><img src="../static/images/icon/logo_kmutt.png" style="width: 66px; height: 75;"></a></div>
			<div class="switch-tab" id="switch-tab" onclick="switchTAB()"><img src="../images/icon/menu.png"></div>
			<ul id="list-switch">
				<li><a class="active" href="../index.html">Home</a></li>
				<li><a href="#"><img src="../static/images/courses/d1.png" class="icon">GEN</a></li>
				<li><a href="lng.html"><img src="../static/images/courses/paper.png" class="icon">LNG</a></li>
				<li><a href="ene.html"><img src="../static/images/courses/computer.png" class="icon">ENE</a></li>
				
				
			</ul>
			<div class="search" id="search-switch">
				<input type="text" placeholder="Search" class="srch"><button id="srchbtn"><img src="../images/icon/search.png"></button>
			</div>	
		</div>
	</header>

	<div class="title">
		<span>วิชาด้านการศึกษาทั่วไป <br>( GEN )</span>
		<div class="shortdesc">
			<p>Learn your basic concepts to prepare for a career in Engineering</p>
		</div>
	</div>

<!-- Quick Links -->
	<div class="course">
		
		<div class="cbox">
		<div class="det"><a href="#organic">Physical Education</a></div>
		<div class="det"><a href="#organic" >Man and Ethics of Living</a></div>
		<div class="det"><a href="#organic" >Problem Solving</a></div>
		<div class="det"><a href="#organic">Miracle of Thinking</a></div>
		<div class="det"><a href="#organic">Beauty of Life</a></div>
		<div class="det"><a href="#organic">Modern Management and Leadership</a></div>
	
	</div>

	<div class="inbt">
		Courses
	</div>

<!-- COURSES AVAILABLE -->
	<div class="ccard">
	<center>
		<div class="ccardbox">
			<div class="dcard">
				<div class="fpart"><img src="../static/images/courses/gen1.png"></div>
				<a href="#organic"><div class="spart">6 Courses <img src="../static/images/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="../static/images/courses/gen2.png"></div>
				<a href="#inorganic"><div class="spart">5 หมวด <img src="../static/images/icon/dropdown.png"></div></a>
			</div>
			
		</div>
		
	</center>
	</div>

<!-- VIDEOS SECTION -->
	<div class="title2" id="organic">
		<span>GEN วิชาบังคับ</span>
		<div class="shortdesc2">
			<p>วิชาด้านการศึกษาทั่วไป ที่ต้องได้รับการศึกษาให้ครบตามที่กำหนด</p>
		</div>
	</div>
	
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen101/" target="_blank">
					<img src="../static/images/courses/gen101.png" style="width: 300px; height: 160px;">
				  </a>
				  
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen111/" target="_blank">
					<img src="../static/images/courses/gen111.png" style="width: 300px; height: 160px;">
				  </a>
				  
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen121/" target="_blank">
					<img src="../static/images/courses/gen121.png" style="width: 300px; height: 160px;">
				  </a>
				  
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen231/" target="_blank">
					<img src="../static/images/courses/gen231.png" style="width: 300px; height: 160px;">
				  </a>
				  
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen241/" target="_blank">
					<img src="../static/images/courses/gen241.png" style="width: 300px; height: 160px;">
				  </a>
				  
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen351/" target="_blank">
					<img src="../static/images/courses/gen351.png" style="width: 300px; height: 160px;">
				  </a>
				  
			</div>
		</div>
	</center>

<hr>

<!-- VIDEOS SECTION -->

	<div class="title2" id="inorganic">
		<span>GEN วิชาเลือก หมวด 0 |สุขพลานามัย</span>
		<div class="shortdesc2">
			<p>วิชาด้านการศึกษาทั่วไป โดยจะทำการเลือกมารวม 6 หน่วยกิต ซึ่งต้องอยู่คนละหมวด</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen201/" target="_blank">
					<img src="../static/images/courses/gen201.png" style="width: 300px; height: 160px;">
				  </a>
				  
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen301/" target="_blank">
					<img src="../static/images/courses/gen301.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
		

		</div>
	</center>

<hr>

<!-- VIDEOS SECTION -->

	<div class="title2" id="physical">
		<span>GEN วิชาเลือก หมวด 1 | คุณธรรม จริยธรรมในการดำเนินชีวิต</span>
		<div class="shortdesc2">
			<p>วิชาด้านการศึกษาทั่วไป โดยจะทำการเลือกมารวม 6 หน่วยกิต ซึ่งต้องอยู่คนละหมวด</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen211/" target="_blank">
					<img src="../static/images/courses/gen211.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen212/" target="_blank">
					<img src="../static/images/courses/gen212.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen311/" target="_blank">
					<img src="../static/images/courses/gen311.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/ge411/" target="_blank">
					<img src="../static/images/courses/gen411.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen412/" target="_blank">
					<img src="../static/images/courses/gen412.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			
			
		</div>
	</center>

<hr>

<!-- VIDEOS SECTION -->

	<div class="title2" id="physics">
		<span>GEN วิชาเลือก หมวด 2 | การเรียนรู้ตลอดชีวิต</span>
		<div class="shortdesc2">
			<p>วิชาด้านการศึกษาทั่วไป โดยจะทำการเลือกมารวม 6 หน่วยกิต ซึ่งต้องอยู่คนละหมวด</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen223/" target="_blank">
					<img src="../static/images/courses/gen223.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen224/" target="_blank">
					<img src="../static/images/courses/gen224.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen226/" target="_blank">
					<img src="../static/images/courses/gen226.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen321/" target="_blank">
					<img src="../static/images/courses/gen321.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen421/" target="_blank">
					<img src="../static/images/courses/gen421.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			
			
		</div>
	</center>
<hr>


	<div class="title2" id="math">
		<span>GEN วิชาเลือก หมวด 3 | การคิดอย่างมีระบบ</span>
		<div class="shortdesc2">
			<p>วิชาด้านการศึกษาทั่วไป โดยจะทำการเลือกมารวม 6 หน่วยกิต ซึ่งต้องอยู่คนละหมวด</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen232/" target="_blank">
					<img src="../static/images/courses/gen232.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen331/" target="_blank">
					<img src="../static/images/courses/gen331.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen332/" target="_blank">
					<img src="../static/images/courses/gen332.png" style="width: 300px; height: 160px;">
				  </a>
			</div> 
		</div>
	</center>

<hr>
	<div class="title2" id="math">
		<span>GEN วิชาเลือก หมวด 4 | คุณค่าและความงาม</span>
		<div class="shortdesc2">
			<p>วิชาด้านการศึกษาทั่วไป โดยจะทำการเลือกมารวม 6 หน่วยกิต ซึ่งต้องอยู่คนละหมวด</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen242/" target="_blank">
					<img src="../static/images/courses/gen242.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen341/" target="_blank">
					<img src="../static/images/courses/gen341.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen441/" target="_blank">
					<img src="../static/images/courses/gen441.png" style="width: 300px; height: 160px;">
				  </a>
			</div> 
		</div>
	</center>

<hr>
	<div class="title2" id="math">
		<span>GEN วิชาเลือก หมวด 5 | เทคโนโลยี นวัตกรรมและการจัดการ</span>
		<div class="shortdesc2">
			<p>วิชาด้านการศึกษาทั่วไป โดยจะทำการเลือกมารวม 6 หน่วยกิต ซึ่งต้องอยู่คนละหมวด</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen352/" target="_blank">
					<img src="../static/images/courses/gen352.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen353/" target="_blank">
					<img src="../static/images/courses/gen353.png" style="width: 300px; height: 160px;">
				  </a>
			</div>  
			<div class="dcard2"><span class="tag" ></span>
				<a href="https://gened.kmutt.ac.th/gen354/" target="_blank">
					<img src="../static/images/courses/gen354.png" style="width: 300px; height: 160px;">
				  </a>
			</div> 
		</div>
	</center>

<hr>

<!-- SAMPLE PAPERS -->
	<div class="title2" id="sample_papers">
		<span>Sample Papers 2014-19</span>
		<div class="shortdesc2">
			<p>Practice more and more question papers</p>
		</div>
	</div>

	<div class="sample">
		<ul>
			<li><a href="../samplePapers/p1.pdf" target="_blank">Sample Paper 2014 Set-A</a></li>
			<li><a href="../samplePapers/p1.pdf" target="_blank">Sample Paper 2014 Set-B</a></li>
			<li><a href="../samplePapers/p1.pdf" target="_blank">Sample Paper 2014 Set-C</a></li>
		</ul>
	
	</div>
	

<!-- FOOTER -->


</body>
</html>