<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Topic Listing Page</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="../static/css/withdraw.min.css" rel="stylesheet">

        <link href="../static/css/withdraw-icons.css" rel="stylesheet">

        <link href="../static/css/withdraw-topic-listing.css" rel="stylesheet">


<!--

TemplateMo 590 topic listing

https://templatemo.com/tm-590-topic-listing

-->
    </head>
    
    <body class="topics-listing-page" id="top">

        <main>

            <nav>
                <div class="logo"><img src="../static/images/icon/logo_kmutt.png" alt="logo" style="width: 66px; height: 75;"></div>
                <ul>
                  <li><a class="active" href="../index.html">Home</a></li>				
                  <li><a class="study-sh" href="#">About &dtrif;</a>
                    <ul>
                      <li><a href="/templates/staff.html">Staff</a></li>
                      <li><a href="/templates/add_re.html">Document</a></li>
                      
                      <li><a href="../templates/internship.html">Internship</a></li>
                      </ul>
                  </li>
                  <li><a class="study-sh" href="#">Courses &dtrif;</a>
                    <ul>
                      <li><a href="../templates/gen.html">GEN</a></li>
                      <li><a href="../templates/lng.html">LNG</a></li>
                      
                      <li><a href="../templates/ene.html">ENE</a></li>
                      </ul>
                  </li>
                  
                  <li><a href="../activity/choose_mode_activity.html">Activity</a></li>
                  <li><a href="../petition/petition.html">Petition Form</a></li>
                  <li><a href="../activity/choose_mode_link.html">Link</a></li>
                </ul>
                <a class="get-started" href="index_login.html">Log Out</a>
                <img src="../static/images/icon/menu.png" class="menu" onclick="sideMenu(0)" alt="menu">
              </nav>


           


            <section class="section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h3 class="mb-4" style="margin-top: 100px;">Internship</h3>
                        </div>

                        <div class="col-lg-8 col-12 mt-3 mx-auto">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <img src="../static/images/internship/undraw_Remote_design_team_re_urdx.png" class="custom-block-image img-fluid" alt="">

                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">ขั้นตอนการฝึกงานอุตสาหกรรม</h5>

                                            <p class="mb-0">การยื่นคำร้องและการยื่นเอกสารต่างๆเพื่อ ทำการฝึกงาน</p>

                                            <a href="https://sao.kmutt.ac.th/th/service/industry-internship-process/" class="btn custom-btn mt-3 mt-lg-4" target="_blank">Learn More</a>
                                        </div>

                                        
                                    </div>
                                </div>
                            </div>

                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <img src="../static/images/internship/undraw_Redesign_feedback_re_jvm0.png" class="custom-block-image img-fluid" alt="">

                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">สหกิจศึกษา</h5>

                                            <p class="mb-0">การเรียนรู้ในระหว่างการทำงานในภาคอุตสาหกรรม ในฐานะผู้ฝึกหัด ภายใต้โครงการสหกิจศึกษา</p>

                                            <a href="#" class="btn custom-btn mt-3 mt-lg-4">Learn More</a>
                                        </div>

                                       
                                    </div>
                                </div>
                            </div>

                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <img src="../static/images/internship/undraw_online_ad_re_ol62.png" class="custom-block-image img-fluid" alt="">

                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">สถานที่ฝึกงาน</h5>

                                            <p class="mb-0">สอบถามสถานที่ฝึกงานต่างๆในอุตสาหกรรม</p>

                                            <a href="#" class="btn custom-btn mt-3 mt-lg-4">Learn More</a>
                                        </div>

                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                       

                    </div>
                </div>
            </section>


            

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/custom.js"></script>

    </body>
</html>