<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="png" href="../static/images/icon/logo_kmutt.png">
	<title>Prepare for GATE on LearnEd</title>
	<link rel="stylesheet" type="text/css" href="subjects.css">
	<script type="text/javascript" src="../static/js/script.js"></script>
</head>
<body>

<!-- NAVIGATION -->
	<header>
		<div class="nav" id="nav">
			<div id="learned-logo">
			<a href="../index.html"><img src="../static/images/icon/logo_kmutt.png" style="width: 66px; height: 75;"></a></div>
			<div class="switch-tab" id="switch-tab" onclick="switchTAB()"><img src="../images/icon/menu.png"></div>
			<ul id="list-switch">
				<li><a class="active" href="../index.html">Home</a></li>
				<li><a href="gen.html"><img src="../static/images/courses/d1.png" class="icon">GEN</a></li>
				<li><a href="lng.html"><img src="../static/images/courses/paper.png" class="icon">LNG</a></li>
				<li><a href="ene.html"><img src="../static/images/courses/computer.png" class="icon">ENE</a></li>
				
			</ul>
			<div class="search" id="search-switch">
				<input type="text" placeholder="Search" class="srch"><button id="srchbtn"><img src="../static/images/icon/search.png"></button>
			</div>
		</div>
	</header>


<!-- Main Title of the Page -->
	<div class="title">
		<span>LNG Courses</span>
		<div class="shortdesc">
			<p>Learn from LearnEd for better higher studies in<br> Indian Institutes of Technologies(IIT)</p>
		</div>
	</div>


<!-- Some KeyWords related to topic -->
	

<!-- Courses Available -->
	<div class="inbt">
		Languages programs
	</div>

	<div class="ccard">
	<center>
		<div class="ccardbox">
			<div class="dcard">
				<div class="fpart"><img src="../static/images/courses/lng_regular.png"></div>
				<a href="#math"><div class="spart">4 Courses <img src="../static/images/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="../static/images/courses/lng_inter.png"></div>
				<a href="#digital"><div class="spart">6 Courses <img src="../static/images/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="../static/images/courses/lng_eng.png"></div>
				<a href="#digital"><div class="spart">10 Courses <img src="../static/images/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="../static/images/courses/lng_life.png"></div>
				<a href="#digital"><div class="spart">2 Courses <img src="../static/images/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="../static/images/courses/lng_aca.png"></div>
				<a href="#digital"><div class="spart">6 Courses <img src="../images/icon/dropdown.png"></div></a>
			</div>
			



		</div>
	</center>
	</div>


<!-- Videos on ENGINEERING MATHEMATICS Lectures -->

	<div class="title2" id="math">
		<span>Regular Programme</span>
		<div class="shortdesc2">
			<p>เป็นวิชาภาษาพื้นฐานสำหรับในการสื่อสาร</p>
		</div>
	</div>
	
	<center>
		<div class="ccardbox2">
			
			<div class="dcard2"><span class="tag" ></span>
				<a href="ENE/lng120.html" target="_blank">
					<img src="../static/images/courses/lng120.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng220.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>

		</div>
	</center>

<hr>


<!-- Videos on DIGITAL LOGIC Lectures -->

	<div class="title2" id="digital">
		<span>International Programme</span>
		<div class="shortdesc2">
			<p>There are various international programs in different fields such as education, research, development, and cultural exchange.</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng105.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng106.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng107.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng321.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng221.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng222.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
		</div>
	</center>
<hr>



<!-- Videos on COMPUTER ORGANIZATION and ARCHITECTURE Lectures -->

	<div class="title2" id="coaa">
		<span>English Language Courses</span>
		<div class="shortdesc2">
			<p>These programs are designed to improve English language skills in various aspects such as speaking, listening, reading, and writing</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng200.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng201.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng202.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng206.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng301.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng302.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng303.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng304.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng307.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng308.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
		</div>
	</center>

<hr>


<!-- Videos on COMPILER Lectures -->

	<div class="title2" id="compiler">
		<span>English in Daily Life & Academic English </span>
		<div class="shortdesc2">
			<p>English has become a vital tool for communication, education, travel, work, and cultural exchange in daily life</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng224.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng327.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng320.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng322.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng420.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			
		</div>
	</center>
<hr>


<!-- Videos on OPERATING SYSTEM Lectures -->


<div class="title2" id="os">
		<span>Foreign Language Courses</span>
		<div class="shortdesc2">
			<p>A foreign language course, it is important to consider factors such as the reputation of the institution or platform, teaching methodology.</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng270.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng272.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng274.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng275.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng277.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng278.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng279.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng280.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng281.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
		</div>
	</center>
้<hr>


<!-- Videos on DATABASE Lectures -->

<div class="title2" id="database">
		<span>English for Career </span>
		<div class="shortdesc2">
			<p>English language skills for career purposes, individuals can consider various options, including enrolling in language courses or specialized English for business programs.</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng223.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng324.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng331.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng332.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			
		</div>
	</center>


<hr>



<!-- Videos on COMPUTER NETWORKS Lectures -->

<div class="title2" id="cn">
		<span>Thai Language Courses</span>
		<div class="shortdesc2">
			<p>Courses that provide opportunities for practical application and practice with native speakers to reinforce language skills effectively.</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng250.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng251.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng252.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng260.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng261.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
			<div class="dcard2"><span class="tag" ></span>
				<a href="#" target="_blank">
					<img src="../static/images/courses/lng262.png" style="width: 300px; height: 160px;">
				  </a> 
			</div>
		</div>
	</center>


	

<!-- Links for SAMPLE PAPERS of JEE MAINS & ADVANCED -->

	<div class="title2" id="sample_papers">
		<span>Sample Papers 2014-19</span>
		<div class="shortdesc2">
			<p>Practice more and more question papers</p>
		</div>
	</div>

	

</body>
</html>