<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
    <link rel='stylesheet' href="../static/css/staffstyle.css">
</head>
<body>
  <header id="header">
		<nav>
			<div class="logo"><img src="../static/images/icon/logo_kmutt.png" alt="logo" style="width: 66px; height: 75;"></div>
			<ul>
				<li><a class="active" href="../index.html">Home</a></li>				
				<li><a class="study-sh" href="#">About &dtrif;</a>
					<ul>
						<li><a href="/templates/staff.html">Staff</a></li>
						<li><a href="/templates/add_re.html">Document</a></li>
						
						<li><a href="/templates/internship.html">Internship</a></li>
					  </ul>
				</li>
				<li><a class="study-sh" href="#">Courses &dtrif;</a>
					<ul>
						<li><a href="../templates/gen.html">GEN</a></li>
						<li><a href="../templates/lng.html">LNG</a></li>
						
						<li><a href="../templates/ene.html">ENE</a></li>
					  </ul>
				</li>
				
				<li><a href="../activity/choose_mode_activity.html">Activity</a></li>
    <li><a href="../petition/petition.html">Petition Form</a></li>
    <li><a href="../activity/choose_mode_link.html">Link</a></li>
			</ul>
			<a class="get-started" href="index_login.html">Log Out</a>
			<img src="../static/images/icon/menu.png" class="menu" onclick="sideMenu(0)" alt="menu">
		</nav>
		<div class="head-container">
			<div class="quote">
				<p>Electronic and Telecommunication Management Systems</p>
				
				
			</div>
			
		</div>
		
	</header>
    <section id="message">
        <h1>บุคลากร</h1>
    </section>
    <section id="message2">
        <h2>อาจารย์ประจำภาควิชา</h2>
    </section>
    <br><br><br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/1.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>ผศ.ดร.อภิชัย  ภัทรนันท์ | หัวหน้าภาควิชาวิศวกรรมอิเล็กทรอนิกส์และโทรคมนาคม</h4>
                  <p>
                    E-mail: apichai.bha@kmutt.ac.th<br>
                    โทร: 02-470-9063<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/2.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>ผศ.ดร.ยุทธพงษ์ จิรรักษ์โสภากุล| | Department Coordinator (Telecommunications)</h4>
                  <p>
                    E-mail: yuttapong.jir@mail.kmutt.ac.th<br>
                    โทร: 02-470-9063<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/3.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>ผศ.ดร.วีรพล จิรจริต  |  Department Coordinator (Electronics)</h4>
                  <p>
                    E-mail: werapon.chi@kmutt.ac.th<br>
                    โทร: 02-470-9066<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/4.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>ผศ.ดร.กมล จิรเสรีอมรกุล</h4>
                  <p>
                    E-mail: kamon.jir@kmutt.ac.th<br>
                    โทร: 02-470-9067<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div> 
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/5.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>ศ.ดร.โกสินทร์ จำนงไทย</h4>
                  <p>
                    E-mail: kosin.cha@kmutt.ac.th<br>
                    โทร: 02-470-9064<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>     
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/6.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>ผศ.ดร.จิรศิลป์ จยาวรรณ</h4>
                  <p>
                    E-mail: chirasil.cha@kmutt.ac.th<br>
                    โทร: 02-470-9402 ต่อ 20<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>   
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/7.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>ดร.สาลินี ชูวิทย์สกุลเลิศ</h4>
                  <p>
                    E-mail: salinee.cho@kmutt.ac.th<br>
                    โทร: 02-470-xxxx<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>   
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/8.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>อ.เดชวุฒิ ขาวปริสุทธิ์</h4>
                  <p>
                    E-mail: dejwoot.kha@kmutt.ac.th<br>
                    โทร: 02-470-9065<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>   
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/9.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>ผศ.ดร.ธอริน ธีรเดชวานิชกุล</h4>
                  <p>
                    E-mail: Sie4129@hotmail.com<br>
                    โทร: 02-470-9068<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>   
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/10.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>ผศ.ดร.พินิจ กำหอม</h4>
                  <p>
                    E-mail: pinit.kum@kmutt.ac.th<br>
                    โทร: 02-470-9075<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>   
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/11.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>ดร.ไพศาล สนธิกร</h4>
                  <p>
                    E-mail: paisarn.son@kmutt.ac.th<br>
                    โทร: 02-470-9066<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>   
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/13.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>รศ.ดร.ราชวดี ศิลาพันธ์</h4>
                  <p>
                    E-mail: rardchawadee.sil@kmutt.ac.th<br>
                    โทร: 02-470-9062<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>   
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/14.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>รศ.ดร.เรืองรอง สุลีสถิระ</h4>
                  <p>
                    E-mail: raungrong.sul@kmutt.ac.th<br>
                    โทร: 02-470-9074<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>   
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/15.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>อ.เอื้อพงศ์ ใยเจริญ</h4>
                  <p>
                    E-mail: auapong.yai@kmutt.ac.th<br>
                    โทร: 02-470-9068<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>   
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/16.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>ผศ.ดร.วัชรพันธ์ สุวรรณสันติสุข</h4>
                  <p>
                    E-mail: watcharapan.suw@kmutt.ac.th<br>
                    โทร: 02-470-9069<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>   
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/18.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>รศ.ดร.วุฒิชัย อัศวินชัยโชติ</h4>
                  <p>
                    E-mail: wudhichai.asa@kmutt.ac.th<br>
                    โทร: 02-470-9061<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>   
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/19.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>รศ.ดร.วุฒิพงษ์ คำวิลัยศักดิ์</h4>
                  <p>
                    E-mail: wuttipong.kum@kmutt.ac.th<br>
                    โทร: 02-470-9067<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>   
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/20.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>ผศ.ดร.สุวัฒน์  ภัทรมาลัย</h4>
                  <p>
                    E-mail: suwat.pat@kmutt.ac.th<br>
                    โทร: 02-470-9079<br>
                    วิชาที่สอน :
                  </p>
                </div>
            </div>
        </div>
    </div>   
    <br>
    <br>
    <section id="message2">
        <h2>เจ้าหน้าที่</h2>
    </section>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/staff/1.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>รุ้งเพชร ใจหาญ</h4>
                  <p>
                    ตำแหน่ง: เจ้าหน้าที่บริหารทั่วไป<br>
                    E-mail: petchsang@yahoo.com<br>
                    โทร: 02-470-9071
                  </p>
                </div>
            </div>
        </div>
    </div> 
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/staff/2.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>สุธาธิณี หร่ายมณี</h4>
                  <p>
                    ตำแหน่ง: เจ้าหน้าที่บริหารฝ่ายการศึกษา<br>
                    E-mail: suthathinee.rai@kmutt.ac.th<br>
                    โทร: 02-470-9070
                  </p>
                </div>
            </div>
        </div>
    </div> 
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/staff/3.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>นพรัตน์ คงบัว</h4>
                  <p>
                    ตำแหน่ง: เจ้าหน้าที่บริหารฝ่ายการเงิน<br>
                    E-mail: noparat0406@gmail.com<br>
                    โทร: 02-470-9061
                  </p>
                </div>
            </div>
        </div>
    </div> 
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/staff/4.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>รัตนา เมฆวัน</h4>
                  <p>
                    ตำแหน่ง: นักบริหารงานทั่วไป<br>
                    E-mail: rattana.mekwan@mail.kmutt.ac.th<br>
                    โทร: 02-470-9057
                  </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br> 
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/staff/5.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>ณรงค์ อนันต์สุข/h4>
                  <p>
                    ตำแหน่ง: เจ้าหน้าที่บริหารทั่วไป<br>
                    E-mail: narong.ana@kmutt.ac.th<br>
                    โทร: 02-470-9070
                  </p>
                </div>
            </div>
        </div>
    </div> 
    <br>
    <br>
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/staff/6.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>อุดร สระตันดิ์</h4>
                  <p>
                    ตำแหน่ง: ช่างเทคนิค<br>
                    E-mail: udon.sar@kmutt.ac.th<br>
                    โทร: 02-470-9072
                  </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br> 
    <div class="staff">
        <div class="image-card-component">
            <div class="image">
                <img title="teacher01" src="../static/images/staffs/staff/7.jpg" alt="teacher01" width="200px" height="200px">
              </div>
            <div class="content">
                <div class="content-text">
                  <h4>จอม บุญเก่า</h4>
                  <p>
                    ตำแหน่ง: เจ้าหน้าที่บริหารทั่วไป<br>
                    E-mail: petchsang@yahoo.com<br>
                    โทร: 02-470-9071
                  </p>
                </div>
            </div>
        </div>
    </div> 
    <br>
    <br>  
</body>
</html>